.contact {
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.contact-display-picture {
    height: 3.5rem;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    margin-left: 0.5rem;
}
.contact-others {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    padding: 0.2rem;
}

.contact-name {
    font-weight: 400;
    color: var(--icon-color-hover);
    font-size: 1.2rem;
    margin: 0;
    margin-left: 0.3rem;
    margin-top: 0.5rem;
    margin-bottom: -0.5rem;
}
.read-and-message {
    display: flex;
    flex-direction: row;
    margin: 0;
    margin-top: -0.2rem;
    width: 100%;
}
.contact-message {
    margin-top: 1.2rem;
    font-size: 0.9rem;
    font-weight: lighter;
    width: 100%;
}
.contact-icon {
    margin-top: 1.1rem;
    margin-right: 0.3rem;
    font-size: 1.3rem;
}