.archive {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0.5rem;
    align-items: center;
    position: relative;
}

.archive-h2 {
    font-size: 1.2rem;
    font-weight: 400;
    margin-left: -8rem;
    line-height: 1.3rem;
}

.archive-icon {
    font-size: 1.3rem;
    position: absolute;
    top: 42%;
    left: 10%;
    transform: translate(-50%, -50%);
}
.archive-border-bottom {
    border: 0.5px solid var(--color-search-background);
    width: 100%;
}